<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>שעה</title>
</head>
<body>
<h1>שעה</h1>
<p>השעה הנוכחית היא: <%= exactTime %></p>
</body>
</html>
